body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.813);
    height: 90px;
    font-size: small;
    border: 1px solid black;
    width: 100vw;
  }

  .navbar img{
    width: 100px;
    height: 70px;
    margin-top: 10px;
    padding: 0px;
    margin-left: 20px;

  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    margin:5px;
  }
  
  .navbar a:hover {
    border: 1px solid rgb(255, 255, 255);
  }

.mainbar{
    height:100vh;
    width:1650px;
}
.product {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    height: 500px;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.product-details {
    padding: 20px;
}

.product h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active{
    background-color: rgb(26, 132, 231);
}

footer {    
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #333;
    color: #fff;
}

.genre{
    display: inline-block;
}

.team{
    float: left;
    display: block;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    margin:5px;
}
#Genres{
    text-align: center;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border:none;
}

#Genres :hover{
    border: 1px solid rgb(255, 255, 255);
}

.hot{
    display: inline;
}
div{
    display: inline-block;
}
.main{
    display: inline-block;
}